/* * {
  border: solid 1px green;
} */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* border: solid 3px yellow; */
}

.App{
  background-image: url(./images/BackgroundImages/b1.jpg);
  background-repeat:no-repeat;
  background-size: 100% 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

Header img{
  height: 50px;
  width: 50px;
}


Header{
  height: 4em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  background-color: #1d3557;
  color: rgb(255, 247, 247);
}

Header input{
  height: 25px;
  width: 250px;
  color: red;
  border-radius: 50px;
  border-color: black;
}

.msg{
  height: 500px;
  width: 400px;
  border: solid 2px red;
}

.weather_container {
  display: flex;
  width: 60em;
  margin-top: 1em;
  justify-content: space-around;
  color:white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 
@media only screen and (max-width:640px){
  .weather_container {
    display: flex;
    flex-direction: column;
  }
} */

@media all and (max-width: 480px) {

  .weather_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    column-gap: 20px;
    width: auto;

  }
}
@media all and (min-width: 480px) and (max-width: 768px) {

  .weather_container {
    display: flex;
    flex-direction: column;
    width: auto;
  }

}
@media all and (min-width: 768px) and (max-width: 1024px) {

}
@media all and (min-width: 1024px) and (max-width: 1366px) {

}